.darkness {
  color: #333;
}

.lightness {
  color: #fff;
}

.light {
  transition: all .2s ease-in-out;
  font-family: "Londrina Outline", cursive;
}

.glow:hover {
  color: #fff;
  text-shadow: 0 5px 15px #fff;
}

.dark,
.cannot {
    text-decoration: line-through;
}

.author {
  font-family: Montserrat, sans-serif;
}
