.darkness {
  color: #333;
}

.lightness {
  color: #fff;
}

.light {
  font-weight: bold;
  transition: all .2s ease-in-out;
}

.glow:hover {
  color: #fff;
  text-shadow: 0 5px 15px #fff;
}

.dark {
  font-weight: bold;
  text-decoration: line-through;
}

.cannot {
  font-weight: normal;
}

.author {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
}
